@charset "utf-8";

* {
    /* font-size: 48px; */
    font-family: sans-serif, serif,"メイリオ";
}

html{
    font-size: 24px;
}

h1{
    /* セレクタで指定した要素の背景色を指定するプロパティ */
    background-color:rgb(82, 129, 170) ;
}

p{
    /* 文字色の指定をするプロパティ */
    /* 色名で指定 */
    color:rgb(96, 229, 195);

    /* 光の三原色（RBG値）で指定（16進数） */
    /* 同じプロパティが存在する場合は、後ろに落ち着いたものが優先される */
    color: #d5fa04;

    /* RGB * アルファチャンネル（透明度）*/
    color: rgb(0, 0, 255, 0.5);


    /* 行の高さを指定するプロパティ */

    /* サイズ指定の単位 */
    /* px:ピクセルサイズで絶対値指定 */
    /* em: 親要素のfontサイズからの相対値*/
    /* rem: html要素で指定されたfontサイズからの相対値*/
    /* line-height: 48px; */
    /* line-height: 1em; */
    line-height: 1rem;

    /* 水平方向の配置を指定するプロパティ */
    /* text-align: left; */
    text-align: center;
    /* text-align: right; */

    /* 両端揃え */
    /* text-align: justify; */
    /* text-align-last: justify; */
}

div{
    /* 背景画像を指定するプロパティ */
    background-image: url(../../第4回目/素材/4月若創.jpg);

    /* 画像の繰り返し制御 */
    background-repeat: no-repeat;

    /* 背景画像のサイズを指定するプロパティ */
    background-size: 100%;
}

ul{
    /* リストの行頭記号を指定するプロパティ */
    list-style: none;
    list-style: disc;
    list-style: circle;
}